<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Plant List
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segmentModel">
            <ion-segment-button value="myChannel" class="ion-text-capitalize"
                (click)="segmentChanged(segmentModel, false)">
                <ion-label>My Channel</ion-label>
            </ion-segment-button>
            <ion-segment-button value="allChannel" class="ion-text-capitalize"
                (click)="segmentChanged(segmentModel, false)">
                <ion-label>All Channel</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Main Section div -->
    <div [ngSwitch]="segmentModel">
        <!-- MyChannel Section Div -->
        <div *ngSwitchCase="'myChannel'" class="ion-padding-bottom">

            <div class="icon-wrapper">
                <div class="icon-inner-wrapper">
                    <ion-img src="../assets/img/spectrum-graph-icon.png" routerLink="/plant-details/ + 1">
                    </ion-img>
                    <ion-img src="../assets/img/trend-graph-icon.png" routerLink="/plant-details/ + 2"></ion-img>
                    <ion-img src="../assets/img/waveform-graph-icon.png" routerLink="/plant-details/ + 3">
                    </ion-img>
                </div>
            </div>

            <ion-list class="ion-no-padding">
                <ion-grid>
                    <ion-row>
                        <ion-col class="ion-no-padding" size="12"
                            *ngFor="let item of dummyPlantDataList; let index = index;">
                            <ion-card class="ion-no-padding">
                                <ion-card-content>
                                    <ion-row>
                                        <ion-col size="6" class="vertical-line">{{ item.dummyTitle }}</ion-col>
                                        <ion-col size="6" class="ion-text-center reading">
                                            <h6>{{ item.dummyValue }}</h6>
                                            <span>{{ item.dummyUnit }}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="ion-text-center">
                    <ion-button color="light" size="small" class="ion-text-capitalize" (click)="onClickAddNew()">Add New
                    </ion-button>
                </div>
                <div class="ion-text-center">
                    <ion-button color="light" size="small" class="ion-text-capitalize">Remove</ion-button>
                </div>

            </ion-list>
        </div>
        <!-- End MyChannel Section Div -->

        <!-- AllChannel Section Div -->
        <div *ngSwitchCase="'allChannel'">
            <ion-list class="ion-padding-start">
                <ion-label (click)="onToggleLevel(1)">
                    <ion-icon color="dark" name="add"></ion-icon>
                    {{ dummyExpandableListJsonObject.mainTitle }}
                </ion-label>
                <ion-item [hidden]="showLevel1" class="ion-padding-start"
                    *ngFor="let p of dummyExpandableListJsonObject.groupDataItems">
                    {{p.name}}
                    <ion-list>
                        <ion-label (click)="onToggleLevel(2)">
                            <ion-icon color="dark" name="add" *ngIf="p.subTitle === 'Machines'">
                            </ion-icon> {{ p.subTitle }}
                        </ion-label>
                        <ion-item [hidden]="showLevel2" class="ion-padding-start" *ngFor="let s of p.machineDataItems">
                            {{s.name}}
                            <ion-list>
                                <ion-label (click)="onToggleLevel(3)">
                                    <ion-icon color="dark" name="add" *ngIf="s.subSubTitle === 'Channels'">
                                    </ion-icon>{{ s.subSubTitle }}
                                </ion-label>
                                <ion-item [hidden]="showLevel3" class="ion-padding-start"
                                    *ngFor="let m of s.channelDataItems">
                                    {{m.name}}
                                </ion-item>
                            </ion-list>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-list>
            <hr />
            <div class="ion-text-center ion-margin-bottom" *ngIf="viewAllChannelFlag">
                <ion-button class="ion-text-capitalize" fill="clear" routerLink="/plant-details/ + 1">View</ion-button>
                <hr />
                <ion-button class="ion-text-capitalize" fill="clear" routerLink="/add-to-compare">Add to compare
                </ion-button>
            </div>

            <div class="ion-text-center ion-margin-bottom" *ngIf="addToMyChannelFlag">
                <ion-button class="ion-text-capitalize" fill="clear">Add to my channel
                </ion-button>
            </div>
        </div>
        <!-- End AllChannel Section Div -->
    </div>
    <!-- End Main Section div -->
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button checked class="ion-text-capitalize">
                <ion-label>Alarms</ion-label>
            </ion-segment-button>
            <ion-segment-button class="ion-text-capitalize">
                <ion-label>Ch. Monitor</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>