.vertical-line {
    border-right: 1px solid black;
}

.reading {
    h6 {
        font-size: 1.143em;
        font-weight: 600;
        border-bottom: 1px solid blue;
    }
}

.icon-wrapper {
    display: table;
    width: 100%;
    text-align: -webkit-center;
    padding: 10px 0;

    .icon-inner-wrapper {
        width: 70%;

        ion-img {
            display: table-cell;
            height: 40px;
            max-height: 50px;
        }
    }
}

hr {
    background-color: lightgray;
    margin: 0;
}

ion-item:last-child {
    --inner-border-width: 0;
}