<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/plant-list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{plantName?.plantName}}</ion-title>
    </ion-toolbar>
    <ion-toolbar mode="ios" color="white">
        <ion-title>{{plantDetailsData?.channelName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list-header color="light">Simple Bar Chart</ion-list-header>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title>Simple Bar Chart</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div id="highcharts"></div>
        </ion-card-content>
    </ion-card>

    <div class="full-screen-wrapper">
        <ion-img src="../assets/img/fullscreen-icon.png"></ion-img>
    </div>

    <div class="unit-value-wrapper">
        <div class="image-wrapper">
            <ion-img src="../assets/img/spectrum-graph-icon.png"></ion-img>
            <ion-img src="../assets/img/waveform-graph-icon.png"></ion-img>
        </div>
        <div class="value-wrapper">
            <h3>{{plantDetailsData?.channelValue}}</h3>
            <div class="hl"></div>
            <span>{{plantDetailsData?.channelUnit}}</span>
        </div>
        <div class="calendar-wrapper">
            <ion-img src="../assets/img/calender-icon.png"></ion-img>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button class="ion-text-capitalize">
                <ion-label>Alarms</ion-label>
            </ion-segment-button>
            <ion-segment-button checked class="ion-text-capitalize">
                <ion-label>Ch. Monitor</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>