.full-screen-wrapper {
    width: 90%;
    border-radius: 8%;
    border: 1px solid blue;
    height: 50vh;
    margin: 5%;
    position: relative;

    .hight-chart-style {
        position: absolute;
    }

    ion-img {
        width: 25px;
        float: right;
        margin: 5%;
        z-index: 9999;
    }

    .wrapper {
        display: table;
        width: 100%;
    }

    .element {
        display: table-cell;
        width: 50%;
    }
}

#highcharts {
    margin: 0;    
}



/* Link the series colors to axis colors */
.highcharts-color-0 {
    fill: #7cb5ec;
    stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
    stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 text {
    fill: #7cb5ec;
}

.highcharts-color-1 {
    fill: #90ed7d;
    stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
    stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 text {
    fill: #90ed7d;
}


.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 2px;
}


.unit-value-wrapper {
    width: 100%;
    display: table;

    .image-wrapper {
        display: table-cell;
        width: 20%;

        ion-img {
            height: 40px;
            max-height: 50px;
            margin: 15px;
        }
    }

    .value-wrapper {
        display: table-cell;
        width: 40%;
        vertical-align: middle;


        .hl {
            border: 1px solid blue;
            width: 60%;
        }

        h3 {
            font-size: 1.8em;
            font-weight: 600;
            color: #10dc60;
            margin: 0;
            padding-left: 8%;
        }

        span {
            color: gray;
            padding-left: 8%;
        }
    }

    .calendar-wrapper {
        display: table-cell;
        width: 20%;
        vertical-align: top;
        padding-top: 5%;

        ion-img {
            height: 25px;
            max-height: 25px;
        }
    }
}