@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Black';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato BlackItalic';
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Bold';
    font-style: Bold;
    font-weight: bold;
    src: url('../assets/fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato BoldItalic';
    font-style: italic;
    font-weight: bold;
    src: url('../assets/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Hairline';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-Hairline.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato HairlineItalic';
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato LightItalic';
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/lato/Lato-LightItalic.ttf') format('truetype');
}