<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Terms of Service</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>