<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plant-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Plat Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <p class="margin-top-50">WORK IN PROGRESS</p>
</ion-content>