.logo-image {
    ion-img {
        height: 15vh;
    }
}

ion-row {
    height: 100vh;
}

.circle-button {
    height: 10vh;
    max-height: 10vh;
    width: 20%;
}

.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    padding: 30px;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    /* Adjust to where you want it */
    right: 20px;
    /* Adjust to where you want it */
    z-index: 9999;
}

.float-button .height_fix {
    margin-top: 100%;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    /* Note, this must be half the font size */
    color: var(--ion-color-light);
}