<ion-content>
    <form #form="ngForm" (ngSubmit)="login(form)" autocomplete="off">
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-text-center logo-image">
                        <ion-img src="../assets/img/icon.png"></ion-img>
                    </div>
                    <div class="ion-padding ion-margin">
                        <ion-item>
                            <!-- <ion-label position="stacked">User</ion-label> -->
                            <ion-input name="user" type="text" placeholder="User" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-top">
                            <!-- <ion-label position="stacked">Password</ion-label> -->
                            <ion-input name="password" type="password" placeholder="Password" ngModel required>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div class="ion-text-center" vertical="center">
                        <!-- <ion-button class="ion-text-capitalize" type="submit" [disabled]="form.invalid" shape="round">
                            Login
                        </ion-button> -->
                        <ion-button size="small" class="circle-button" color="light" shape="round" type="submit"
                            [disabled]="form.invalid">
                            <ion-icon size="large" slot="icon-only" name="arrow-dropright"></ion-icon>
                        </ion-button>                       
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>