<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <!-- <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header> -->
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                            <ion-toggle *ngIf="p.title === 'Push Notifications'" slot="end" color="success">
                            </ion-toggle>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-item [routerDirection]="'root'" (click)="onLogout()">
                        <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
                        <ion-label>
                            Logout
                        </ion-label>                        
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>