.custom-card-wrapper {
    position: relative;

    ion-badge {
        position: absolute;
        top: -3px;
        right: 8px;
        z-index: 100;
        border: 1px solid blue;
        --background: white;
        --color: black;
    }

    .custom-card-grey {
        border-radius: 1.071em;
        --background: #e2e2e28c;
    }
}

.custom-card-active {
    --background: #e2e2e28c;
}

.vertical-line {
    border-right: 1px solid black;
}

.reading {
    h6 {
        font-size: 1.143em;
        font-weight: 600;
        border-bottom: 1px solid blue;
    }
}

.icon-wrapper {
    display: table;
    width: 100%;
    text-align: -webkit-center;
    padding: 10px 0;

    .icon-inner-wrapper {
        width: 70%;

        ion-img {
            display: table-cell;
            height: 40px;
            max-height: 50px;
        }
    }
}

hr {
    background-color: lightgray;
    margin: 0;
}


.main-section-label {
    font-size: 1.2em;
}

.circle-icon {
    margin: 0;
    padding-top: 4px;
    padding-right: 8px;
}

.machine-item-margin-left {
    margin-left: 10%;
}

.channel-item-margin-left {
    margin-left: 15%;
}