<ion-header>
	<ion-toolbar mode="ios" color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{plantName?.plantName}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div [ngSwitch]="mainSegment">
		<div *ngSwitchCase="'alarms'">
			<ion-grid>
				<ion-row>
					<ion-col size="6" size-sm="6" size-md="6" size-lg="6" text-center class="ion-no-padding"
						*ngFor="let plant of plantList; let index = index;">
						<div class="custom-card-wrapper" routerDirection="forward" (click)="onClickOpenDetails(plant)">
							<ion-badge mode="ios">{{ plant.badgeCount }}</ion-badge>
							<ion-card class="ion-padding-vertical custom-card-grey">
								<ion-card-content>
									{{ plant.platName }}
								</ion-card-content>
							</ion-card>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<div *ngSwitchCase="'monitor'">
			<ion-segment [(ngModel)]="segmentModel">
				<ion-segment-button value="myChannel" class="ion-text-capitalize"
					(click)="segmentChanged(segmentModel)">
					<ion-label>My Channels</ion-label>
				</ion-segment-button>
				<ion-segment-button value="allChannel" class="ion-text-capitalize"
					(click)="segmentChanged(segmentModel)">
					<ion-label>All Channels</ion-label>
				</ion-segment-button>
			</ion-segment>

			<!-- Main Section div -->
			<div [ngSwitch]="segmentModel" class="ion-margin-top">
				<!-- MyChannel Section Div -->
				<div *ngSwitchCase="'myChannel'" class="ion-padding-bottom">
					<div *ngIf="isViewPlantListSection">
						<div class="icon-wrapper">
							<div class="icon-inner-wrapper">
								<ion-img src="../assets/img/trend-graph-icon.png" (click)="goToPlantChartPage(1)">
								</ion-img>
								<ion-img src="../assets/img/spectrum-graph-icon.png" (click)="goToPlantChartPage(2)">
								</ion-img>
								<ion-img src="../assets/img/waveform-graph-icon.png" (click)="goToPlantChartPage(3)">
								</ion-img>
							</div>
						</div>
						<ion-list class="ion-no-padding">
							<ion-grid>
								<ion-row>
									<ion-col class="ion-no-padding" size="12"
										*ngFor="let item of dummyPlantDataList; let index = index;">
										<ion-card class="ion-no-padding" [class.custom-card-active]="item.active"
											(click)="onClickPlantItem(item)">
											<ion-card-content>
												<ion-row>
													<ion-col size="6" class="vertical-line">{{ item.channelName }}
													</ion-col>
													<ion-col size="6" class="ion-text-center reading">
														<h6>{{ item.channelValue }}</h6>
														<span>{{ item.channelUnit }}</span>
													</ion-col>
												</ion-row>
											</ion-card-content>
										</ion-card>
									</ion-col>
								</ion-row>
							</ion-grid>
							<div class="ion-text-center">
								<ion-button color="light" size="small" class="ion-text-capitalize"
									(click)="onClickAddNew()">Add New
								</ion-button>
							</div>
							<div class="ion-text-center">
								<ion-button color="light" size="small" class="ion-text-capitalize"
									(click)="removeItemFromPlantList()">Remove</ion-button>
							</div>
						</ion-list>
					</div>
					<!-- Add Channels section -->
					<div *ngIf="isViewAddPlantSection">
						<ion-item-group *ngFor="let item of dummyExpandableListJsonObject; let index = index;">
							<ion-item-divider color="white" (click)="toggleGroup(item)">
								<ion-icon class="circle-icon" slot="start" name="add-circle-outline"
									*ngIf="!item.active">
								</ion-icon>
								<ion-icon class="circle-icon" slot="start" name="remove-circle-outline"
									*ngIf="item.active">
								</ion-icon>
								<ion-label class="main-section-label"> {{item.name}}</ion-label>
							</ion-item-divider>
							<div *ngFor="let machine of item.machineArray; let index = index;">
								<ion-item lines="inset" class="machine-item-margin-left" [@expand]="item.active"
									(click)="toggleGroupMachine(machine)">
									<ion-icon class="circle-icon" slot="start" name="add-circle-outline"
										*ngIf="!machine.active">
									</ion-icon>
									<ion-icon class="circle-icon" slot="start" name="remove-circle-outline"
										*ngIf="machine.active">
									</ion-icon>
									<ion-label>{{ machine.name }}</ion-label>
								</ion-item>
								<ion-item lines="inset" class="channel-item-margin-left"
									*ngFor="let channel of machine.channelArray; let index = index;"
									[@expand]="item.active && machine.active">
									<ion-checkbox slot="start" [(ngModel)]="channel.active"
										(ionChange)="onPlantItemSelectedToAdd(channel)"></ion-checkbox>
									<ion-label>{{channel.channelName}}</ion-label>
								</ion-item>
							</div>
						</ion-item-group>
						<hr />
						<div class="ion-text-center ion-margin-bottom">
							<ion-button class="ion-text-capitalize" fill="clear" (click)="onAddToMyChannels()">Add to my
								channels
							</ion-button>
							<br />
							<ion-button class="ion-text-capitalize" fill="clear" (click)="onCancelChannels()">Cancel
							</ion-button>
						</div>
					</div>

					<!-- End Add Channels section -->
				</div>
				<!-- End MyChannel Section Div -->

				<!-- AllChannel Section Div -->
				<div *ngSwitchCase="'allChannel'">
					<ion-item-group *ngFor="let item of dummyExpandableListJsonObject; let index = index;">
						<ion-item-divider color="white" (click)="toggleGroup(item)">
							<ion-icon class="circle-icon" slot="start" name="add-circle-outline" *ngIf="!item.active">
							</ion-icon>
							<ion-icon class="circle-icon" slot="start" name="remove-circle-outline" *ngIf="item.active">
							</ion-icon>
							<ion-label class="main-section-label"> {{item.name}}</ion-label>
						</ion-item-divider>
						<div *ngFor="let machine of item.machineArray; let index = index;">
							<ion-item lines="inset" class="machine-item-margin-left" [@expand]="item.active"
								(click)="toggleGroupMachine(machine)">
								<ion-icon class="circle-icon" slot="start" name="add-circle-outline"
									*ngIf="!machine.active">
								</ion-icon>
								<ion-icon class="circle-icon" slot="start" name="remove-circle-outline"
									*ngIf="machine.active">
								</ion-icon>
								<ion-label>{{ machine.name }}</ion-label>
							</ion-item>
							<ion-item lines="inset" class="channel-item-margin-left"
								*ngFor="let channel of machine.channelArray; let index = index;"
								[@expand]="item.active && machine.active">
								<ion-checkbox slot="start" [(ngModel)]="channel.active"
									(ionChange)="onChannelSelected(channel)"></ion-checkbox>
								<ion-label>{{channel.channelName}}</ion-label>
							</ion-item>							
							<!-- <ion-radio-group allow-empty-selection="true" name="radio-group"
								(ionChange)="radioGroupChange($event)">
								<ion-item lines="inset" class="channel-item-margin-left"
									*ngFor="let channel of machine.channelArray; let index = index;"
									(ionSelect)="radioSelect(channel)" [@expand]="item.active && machine.active">
									<ion-radio slot="start" [checked]="channel.active" [value]="channel.id"></ion-radio>
									<ion-label>{{channel.channelName}}</ion-label>
								</ion-item>
							</ion-radio-group> -->
						</div>
					</ion-item-group>
					<hr />
					<div class="ion-text-center ion-margin-bottom">
						<ion-button class="ion-text-capitalize" fill="clear" *ngIf="selectedPlantItem"
							(click)="goToPlantChartPage(1)">View
						</ion-button>
						<hr />
						<ion-button class="ion-text-capitalize" fill="clear" routerLink="/add-to-compare">Add to compare
						</ion-button>
					</div>
				</div>
				<!-- End AllChannel Section Div -->
			</div>
			<!-- End Main Section div -->
		</div>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-segment [(ngModel)]="mainSegment" (ionChange)="mainSegmentChange(mainSegment)">
			<ion-segment-button class="ion-text-capitalize" value="alarms">
				<ion-label>Alarms</ion-label>
			</ion-segment-button>
			<ion-segment-button class="ion-text-capitalize" value="monitor">
				<ion-label>Ch. Monitor</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-footer>