<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/plants"></ion-back-button>
        </ion-buttons>
        <ion-title>Add Plant</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="margin-top-50 ion-margin-horizontal">
        <ion-item class="ion-margin-horizontal">
            <ion-input placeholder="Enter Plant IP"></ion-input>
        </ion-item>

        <div class="ion-padding">
            <ion-button color="light" class="ion-text-capitalize" expand="block" routerLink="/home">Login</ion-button>
        </div>
    </div>
</ion-content>