<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-title>Plants</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid class="ion-padding-horizontal margin-top-25">
        <ion-row class="ion-justify-content-center align-content-center">
            <ion-col size="12" size-sm="12" size-md="12" size-lg="12" text-center class="ion-no-padding"
                *ngFor="let plant of plants; let index = index;">
                <ion-button class="ion-text-capitalize ion-margin-top" expand="block" color="light"
                    (click)="onClickPlant(plant)" routerDirection="root">{{ plant.plantName }}
                </ion-button>
            </ion-col>
            <ion-col size="12" size-sm="12" size-md="12" size-lg="12" text-center class="ion-no-padding">
                <ion-button class="ion-text-capitalize ion-margin-top" expand="block" color="light"
                    routerLink="/add-plant">Add plant
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>