<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Account Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of dummySettingList; let index = index;">
            <ion-label [routerLink]="[item.routingUrl]">{{ item.settingLabel }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>