.alarm-badge-yellow {
    background: yellow;
    color: yellow;
    height: 18px;
}

.alarm-badge-orange {
    color: orange;
    background: orange;
    height: 18px;
}


.alarm-badge-transparent {
    color: transparent;
    background: transparent;
    height: 18px;
}

.main-section-label {
    font-size: 1.2em;
}