<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/plant-list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{plantName?.plantName}}</ion-title>
    </ion-toolbar>
    <ion-toolbar mode="ios" color="white">
        <ion-title>{{plantDetailsData?.platName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group *ngFor="let item of dummyList; let index = index;">
        <ion-item-divider color="white" (click)="toggleGroup(item)">
            <ion-icon slot="start" name="add-circle-outline" *ngIf="!item.active"></ion-icon>
            <ion-icon slot="start" name="remove-circle-outline" *ngIf="item.active"></ion-icon>
            <ion-label class="main-section-label"> {{item.machineTitle}}</ion-label>
            <ion-badge slot="end" color="light" class="ion-margin-end">{{item.alarmsCount}}</ion-badge>
        </ion-item-divider>
        <ion-item lines="inset" *ngFor="let alarm of item.alarms; let index = index;" [@expand]="item.active" routerLink="/plant-details">
            <ion-badge slot="start"
                [ngClass]="[index == 1 || index == 0 ? 'alarm-badge-yellow' : '',  index == 2 || index == 4 ? 'alarm-badge-transparent' : '', index == 3 ? 'alarm-badge-orange' : '']">
                0</ion-badge>
            <ion-label>{{ alarm.alarmTitle }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>